@import "tailwindcss";

body{
  min-height: 100vh;
  color: white;
  background: linear-gradient(
    to bottom,
    #0B1B32 0%,  
    #26415E 25%, 
    #83A6CE 50%,  
    #E5C9D7 75%, 
    #C48CB3 100%  
  );


}

/*
:root {
  --bg-dark: #0B1B32;
  --bg-main: #0D1E4C;
  
  --card-blue: #26415E;
  --card-blue-soft: #83A6CE;
  
  --card-pink: #C48CB3;
  --card-light: #E5C9D7;
  
  --text-light: #F5F5F5;
  --text-dark: #0B1B32;
}
*/
